body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../img/background.gif) no-repeat center/cover;
    text-align: center;
    font-family: "Russo One", sans-serif;
    color: white
}

.container {
    width: 500px;
    border: 2px solid rgba(255, 255, 255, .2);
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;      
}


#taskInput::placeholder {
    color: #aaa;
}

#taskInput {
    font-size: 110%;
}

#taskInput:focus {
    outline: none;
}

button {
    height: 40px;
    width: 40px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.task-action {
    display: flex;
    gap: 5px;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

button {
    margin-left: 5px;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.edit-btn {
    background-color: #ffc107;
    color: white;
}

.complete-btn {
    background-color: #28a745;
    color: white;
}

.remove-btn {
    background-color: #dc3545;
    color: white;
}



@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
    }
    body {
        color: rgb(0, 255, 221);
        background: url(../img/background\ mobile.gif) no-repeat center/cover ;
        
       
    }
    
    li {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .task-action {
        width: 100%;
        justify-content: space-between;
    }
    
    button {
        height: 30px;
        width: 30px;
        font-size: 12px;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .container {
        width: 90%;
        padding: 15px;
        border-radius: 15px;
    }

    body {
        color: rgb(1, 236, 52);
        background: url(../img/background\ medio.gif) no-repeat center/cover;
    }

   
    button {
        height: 35px;
        width: 35px;
        font-size: 13px;
    }
}


@media (max-width: 1025px) {
    .container {
        width: 95%;
        padding: 15px;
    }
    
    button {
        height: 35px;
        width: 35px;
        font-size: 14px;
    }
}
